*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#f4f4f4;
}

.container{
    width:500px;
    margin:60px auto;
    background:white;
    padding:30px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

h1{
    margin-bottom:20px;
}

input{
    width:100%;
    padding:12px;
    font-size:16px;
    margin-bottom:15px;
}

button{
    padding:12px 20px;
    cursor:pointer;
    border:none;
    background:#0077ff;
    color:white;
    border-radius:5px;
    font-size:16px;
}

button:hover{
    background:#005fd1;
}

#result{
    margin-top:25px;
    font-size:18px;
}
